.footer {
    width: 100%;
    height: 25px;
    background: black;
    color: white;
    position: fixed;
    bottom: 0;
}
.faFoot {
    float: right;
    margin: 4px 25px;
}
.footer a {
    text-decoration: none;
    color: white;
}
.footer a:active {
    color: palevioletred;
}